.hero
    display: flex
    width: 80%
    margin-inline: auto
    #about
        p
            padding-right: 80px
            margin-bottom: 60px

.dishes
    width: 80%
    margin-inline: auto
    #menu
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 10px
.info
    width: 80%
    margin-inline: auto
    p
        margin-bottom: 20px
    .restorant
        display: flex
        justify-content: center
